/* Permet au footer de rester en bas même si le contenu est court */
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }
  
  /* Assure que le Footer est toujours collé en bas */
  footer {
    margin-top: auto;
  }
  